body {
    background-color: #EFEFEF;
}
header {
    background-color: #F8F9FA;
}

.p-primary {
    color: #505050;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mp-0 {
    margin: 0px;
    padding: 0px;
}
.icon {
    width: 1rem;
    height: 1rem;
}

#logo {
    width: 89.05px;
    height: 97.5px;
    padding: 0px;
    margin: 8px 0px 12px 12px;
}
#banner {
    width: 100%;
    margin: 115px 0px;
}
#nav1 {
    padding: 0px;
    margin: 0px;
}
#apresntacao {
    margin: 0px 78px;
}
#width100 {
    width: 100%;
}
#saber_mais {
    border-color: black;
    border-radius: 2px;
    border-width: 1.9px;
    font-weight: bold;
    color: #e48f20;
}